html {
  font-size: 1.5rem;
}

.wrapper {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 100px auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 50px;
}

label {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  font-size: 1.2rem;
  margin-bottom: 20px;
  height: 50px;
  text-align: center;
}

#btn-copy {
  border: 1px solid gray;
  border-radius: 10px;
  height: 50px;
  flex-grow: 0;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}
